playwright
beautifulsoup4
markdownify
streamlit
langchain
langgraph
langchain-community
langchain-huggingface
langchainhub
langchain-core
langchain-chroma
langchain-groq
chromadb
sentence-transformers
unstructured
pandas
python-dotenv
tqdm
unstructured
